@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Rosario:wght@300&display=swap');

body {
    margin: 0;
    font-family: 'Rosario', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #bb609f;
    transition: color 0.2s ease;
}

a:hover, a:active {
    color: #e5c0d2;
}

.main {
    background-image: url('images/spring-4231616_1920.png'), url('images/texture.jpg');
    background-size: 50%, cover;
    background-position: bottom -100px right -50px, center;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.homepage {
    background-size: contain, cover;
    background-position: center, center;
}

.centre-container {
    text-align: center;
}

.centre-container p {
    max-width: 900px;
    margin: 2rem auto;
}

.splash-row {
    background: rgba(237, 228, 241, 0.6);
}

h1.splash {
    font-family: 'Playfair DIsplay', serif;
    font-weight: 900;
    font-size: 6rem;
    line-height: 0.8;
    margin-bottom: 0.5rem;
}

h2 {
    font-weight: 300;
    text-transform: uppercase;
}

.nav {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

.nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav li {
    display: inline;
    font-size: 1.2rem;
    padding: 1rem;
}

.nav li.home-link {
    font-weight: bold;
}

.emphasis {
    font-style: italic;
}

#rsvp-form {
    max-width: 700px;
    margin: auto;
}