@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    font-size: 20px;
}

.main {
    background-image: url('images/a.jpg');
    background-size: cover;
    background-position: bottom right;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.centre-container {
    text-align: center;
}

.splash-row {
    background: rgba(255, 255, 255, 0.6);
}

h1.splash {
    font-family: 'Alex Brush', cursive;
    font-weight: 400;
    font-size: 6rem;
    line-height: 0.7;
    margin-bottom: 0.5rem;
}

h2 {
    font-weight: 200;
    text-transform: uppercase;
}

.nav {
    padding-top: 2rem;
    text-align: center;
}

.nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav li {
    display: inline;
    font-size: 1.2rem;
    padding: 1rem;
}

.major {
    font-size: 1.2rem;
}